---
layout: archive
title: "Academic Projects"
permalink: /academic-projects/
author_profile: true
---

{% include base_path %}
<div class="academic-projects">
  {% assign projects = site.academic-projects  | reverse %}

  {% for project in projects %}
    <h3>{{ project.title }}</h3>
    <!-- <p><em>{{ project.start_date | date: "%B %Y" }} – {{ project.end_date | date: "%B %Y" }}</em></p> -->
    <div class="project-description">
      {{ project.content | markdownify }}
    </div>
  {% endfor %}

</div>
